*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2B7A78,#3AAFA9);
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.card{
width:420px;
padding:40px;
background:rgba(255,255,255,.15);
backdrop-filter:blur(20px);
border-radius:25px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
color:white;
}

.card h1{
margin-bottom:10px;
}

.card p{
margin-bottom:25px;
}

input{
width:100%;
padding:15px;
margin-bottom:20px;
border:none;
outline:none;
border-radius:15px;
font-size:15px;
}

.password-box{
position:relative;
}

.password-box span{
position:absolute;
right:20px;
top:16px;
cursor:pointer;
color:black;
}

button{
width:100%;
padding:15px;
border:none;
background:white;
color:#2B7A78;
font-size:16px;
font-weight:600;
border-radius:15px;
cursor:pointer;
transition:.4s;
}

button:hover{
transform:scale(1.03);
}

.links{
margin-top:20px;
text-align:center;
}

.links a{
color:white;
text-decoration:none;
}

.bottom{
margin-top:20px;
text-align:center;
}

.bottom a{
color:white;
font-weight:600;
}

.role-selection{
display:flex;
gap:10px;
margin-bottom:20px;
}

.role{
background:white;
color:#2B7A78;
}

.role.active{
background:#17252A;
color:white;
}

@media(max-width:500px){

.card{
width:95%;
padding:30px;
}

}